
<div class="panel panel-default">
  <div class="panel-heading">Results</div>
  <div class="form-group panel-body">
   <input type="text" ng-model="studentList.search" class="form-control" id="students_search" placeholder="Search">
  </div>
  <div class="table-responsive">
  <table id="studentlist" class="table">
    <thead>
    <tr>
      <th>Roll Number</th>
      <th>First Name</th>
      <th>Last Name</th>
      <!--<th>Email</th>  -->
      <th>Date Of Birth</th>
      <th>Phone Number</th>       
      <th>Data Structure</th>
       <th>Operating System</th>
      <th>Discrete Maths</th>
      <th>Data Communication</th> 
      <th>Management</th>
      <th><a href="#/new"><span class="glyphicon glyphicon-plus"></span></a></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="student in studentList.students | filter:studentList.search | orderBy:'rollnumber'">
      <td><a ng-href="#/profile/{{student.$id}}">{{student.rollnumber}}</a></td>
      <td>{{student.firstname}}</td>
      <td>{{student.lastname}}</td>
      <!--<td>{{student.email}}</td>-->
      <td>{{student.date_of_birth|date:'MM/dd/yyyy'}}</td>
      <td>{{student.phone_number}}</td>      
      <td>{{student.data_structure}}</td>
      <td>{{student.operating_system}}</td>
      <td>{{student.discrete_maths}}</td>
      <td>{{student.data_communication}}</td>
      <td>{{student.management}}</td>
      <td>
        <a ng-href="#/edit/{{student.$id}}"><span class="glyphicon glyphicon-pencil"></span></a>
      </td>
    </tr>
    </tbody>
  </table></div>
</div>